html{scroll-behavior:smooth}

.container-centered {
  max-width: 100%;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.card-content {
  height: 100%;
  max-height: 100%;
  margin-top: auto;
  margin-bottom: auto;
}

.skills-image {
  max-width: 350px;
}

@media only screen and (max-width: 400px)  {
  .skills-image {
    max-width: 250px;
  }
}
